# Supabase API keys (Required for Authentication and Database Access)
# Find these in your Supabase Dashboard under Settings > API
NEXT_PUBLIC_SUPABASE_URL=https://qdbmlqotkqfpmsfvaybp.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_MgShQWzhKu5QCIMZ72Eqyg_aY4EEEKS
